//temp variables
// $color: list.nth($theme-variants2, 1);
$color: map.get($theme-variants, 'primary');
$paletteName: 'primary';
$light: map.get($color, 'light');
$base: map.get($color, 'base');
$dark: map.get($color, 'dark');
$darker: map.get($color, 'darker');
$natural: map.get($color, 'natural');
$font: map.get($color, 'font');

// global
$scrollbarWidth: 0.35rem;

$borderWidth: 0.085rem;
$marginX: 0.15rem;
$marginY: 0.6rem;
$paddingX: 0.45rem;
$paddingY: 0.45rem;

//global component properties
$borderRadius: 0.6rem;
