@import '../src/scss/modules/default.scss';
@import '../src/scss/global.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
	box-sizing: border-box;
}
html,
body {
	background-color: #f0f0f0;
}
html,
body,
button,
input,
select,
textarea {
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
		Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji', Vazir;
}
